.table__tr th, .table__tr td {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 13rem;
}

.table__ellipse {
    background: unset;
    width: 1.15rem;
    height: 1.15rem;
}

.table__table-main td:first-child {
    color: #415FFF;
}

td[data-value^="-"] > .table__txt {
    color: #F64344;
    background: rgba(246, 67, 68, 0.2);
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
}

td[data-value^="+"] > .table__txt {
    color: #21BC96;
    background: rgba(33, 188, 150, 0.2);
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
}

select.table__option {
    width: 13rem;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
}

@media screen and (max-width: 480px) {
    select.table__option {
        width: 6rem;
        min-width: 6rem;
    }
}